dill==0.2.7.1
numpy==1.14.5
plotly==2.7.0
pefile==2017.11.5
Werkzeug==0.14.1
WTForms==2.2.1
Keras==2.1.6
torch==0.4.0
tsfresh==0.11.0
plaidml==0.3.2
pandas==0.23.1
SQLAlchemy==1.2.8
requests==2.19.1
virustotal_api==1.1.10
scipy==1.1.0
matplotlib==2.2.2
Flask==1.0.2
Flask_WTF==0.14.2
Flask_SQLAlchemy==2.3.2
numba==0.38.0
Pillow==5.2.0
python_magic==0.4.15
scikit_learn==0.19.1
-r requirements-manual.txt
