numba==0.38.0
pandas==0.23.1
scipy==1.1.0
Werkzeug==0.14.1
Flask==1.0.2
Flask_SQLAlchemy==2.3.2
pefile==2017.11.5
Keras==2.1.6
virustotal_api==1.1.10
requests==2.19.1
SQLAlchemy==1.2.8
tsfresh==0.11.0
matplotlib==2.2.2
plaidml==0.3.2
plotly==2.7.0
WTForms==2.2.1
numpy==1.14.5
Flask_WTF==0.14.2
python_magic==0.4.15
scikit_learn==0.19.1
