virustotal_api==1.1.10
pandas==0.23.1
numba==0.38.0
plotly==2.7.0
tsfresh==0.11.0
scipy==1.1.0
plaidml==0.3.2
pefile==2017.11.5
matplotlib==2.2.2
Keras==2.1.6
numpy==1.14.5
python_magic==0.4.15
scikit_learn==0.19.1
-r requirements-manual.txt
