<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<section class="navigation">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{ self.title() }}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="{{ url_for('main') }}">Main</a>
          <a class="mdl-navigation__link" href="{{ url_for('submit') }}">Submit</a>
          <a class="mdl-navigation__link" href="{{ url_for('history') }}">History</a>
          <a class="mdl-navigation__link" href="https://github.com/keithjjones/malgazer">GitHub</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{ self.title() }}</span>
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ url_for('main') }}">Main</a>
          <a class="mdl-navigation__link" href="{{ url_for('submit') }}">Submit</a>
          <a class="mdl-navigation__link" href="{{ url_for('history') }}">History</a>
          <a class="mdl-navigation__link" href="https://github.com/keithjjones/malgazer">GitHub</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <section class="content">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          {% block footer %}{% endblock %}
        </div>
        <div class="mdl-mini-footer__right-section">
          Copyright Keith J. Jones, 2018
        </div>
      </footer>
    </main>
  </div>
</section>

