{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('forgot_password') }}">
  {{ form.csrf_token }}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table>
          <tr><td>{{ form.email.label }}</td></tr>
          <tr><td>{{ form.email }}</td></tr>
        </table>
        <br>
        <input type="submit" class="btn btn-outline-primary" value="I forgot my password!">
      </div>
    </div>
  </div>
</form>
{% endblock %}
