{% extends "base.html" %}

{% block title %}
Malgazer
{% endblock %}

{% block subtitle %}
Submission History
{% endblock %}

{% block content %}
    <a class="btn btn-outline-primary" href="{{ url_for('history') }}">Refresh</a>
    <table class="table top-buffer">
        <thead>
            <tr><th>ID</th><th>SHA256</th><th>Submitted On</th><th>Submitted By</th><th>Classification</th></tr>
        </thead>
        <tbody>
            {% for h in history %}
                <tr><td>{{h.id}}</td><td>{{h.sha256}}</td><td>{{h.time}}</td><td>{{h.ip_address}}</td><td>{{h.classification}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
