{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('login') }}">
  {{ form.csrf_token }}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Existing accounts...</h5>
        <table>
          <tr><td>{{ form.email.label }}</td></tr>
          <tr><td>{{ form.email }}</td></tr>
          <tr><td>{{ form.password.label }}</td></tr>
          <tr><td>{{ form.password }}</td></tr>
        </table>
        <br>
        <input type="submit" class="btn btn-outline-primary" value="Login">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Need an account?</h5>
        <a class="btn btn-outline-primary" href="{{ url_for('register') }}">Register</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Forgot your password?</h5>
        <a class="btn btn-outline-primary" href="{{ url_for('register') }}">Forgot Password</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Need to resend activation email?</h5>
        <a class="btn btn-outline-primary" href="{{ url_for('resend_activation_email') }}">Resend Activation Email</a>
      </div>
    </div>
  </div>
  <br><br>
</form>
{% endblock %}
