{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('login') }}">
  <div class="dropdown">
    <form class="px-4 py-3">
      <div class="form-group">
        {{ form.email }}
      </div>
      <div class="form-group">
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-outline-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ url_for('register') }}">Need an account?</a>
    <a class="dropdown-item" href="{{ url_for('register') }}">Forgot password?</a>
    <a class="dropdown-item" href="{{ url_for('resend_activation_email') }}">Resend activation email?</a>
  </div>
</form>
{% endblock %}
