{% extends "base.html" %}

{% block content %}
<table class="table top-buffer" cellpadding="10">
    <tr><td>Email:</td><td>{{ user.email }}</td>
        <td><a class="btn btn-outline-primary" href="{{ url_for('set_email') }}">Change Email</a></td></tr>
    <tr><td>Registered on:</td><td>{{ user.registration.date() }}</td>
        <td><a class="btn btn-outline-primary" href="{{ url_for('set_password') }}">Change Password</a></td></tr>
    <tr><td>API Key:</td><td>{{ user.api_key }}</td>
        <td><a class="btn btn-outline-primary" href="{{ url_for('generate_new_api_key') }}">Create New API Key</a></td></tr>
    <tr><td>API Limits:</td><td>{{ user.api_limits }}</td></tr>
</table>
{% endblock %}
