{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    {{ form.csrf_token }}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Step 1: Select your file...</h5>
        <p class="card-text">{{ form.sample }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Step 2: Input your classification...</h5>
        <p class="card-text">
            <div class="small-text">
                {% for subfield in form.classification %}
                    {{ subfield(class_="radio-inline") }}
                    {{ subfield.label }}
                {% endfor %}
            </div>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Step 3: Submit...</h5>
        <p class="card-text">
            <input type="submit" class="btn btn-outline-primary" value="Submit">
        </p>
      </div>
    </div>
  </div>
</form>
{% endblock %}
