{% extends "base.html" %}

{% block title %}
Malgazer
{% endblock %}

{% block subtitle %}
Sample Submission
{% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data" action="{{ url_for('submit') }}">
    {{ form.csrf_token }}
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            {{ form.sample }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-outline-primary" value="Submit">
        </div>
    </div>
</form>
{% endblock %}
