p.footer-text {
    color:white;
    font-size: small;
}

div.small-text {
    font-size: small;
}

.top-buffer {
    margin-top:20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

ul#classification {
    list-style:none;
}